@import "sanitize.css";
@import "./common/_global.css";

body {
    /* height: 300vh; */
}

canvas {
    /* position: fixed; */
    top: 0;
    left: 0;
}

.Source {
    position: absolute;
    display: block;
    top: 1em;
    left: 1em;
    width: auto;
    font-size: 2rem;
}

.Source__select {
    font-size: 1.2rem;
    background: hsla(0, 0%, 100%, 0.8);
    color: #112;
    border: solid 2px #112;
    padding: 0.2em 0.4em;
    letter-spacing: 0.05em;
}

.Source__file {
    font-size: 1.2rem;
    background: hsla(0, 0%, 100%, 0.8);
    color: #112;
    display: block;
    margin-top: 0.5em;
}

.License {
    position: absolute;
    display: block;
    bottom: 1em;
    left: 1em;
    width: auto;
    font-size: 1.2rem;
    background: hsla(0, 0%, 100%, 0.8);
    color: #112;
    border: solid 2px #112;
    padding: 0.2em 0.4em;
    letter-spacing: 0.05em;
}
