<!DOCTYPE html>
{{#with htmlWebpackPlugin.options.conf}}
<html lang="{{lang}}">
{{include 'common/_head.hbs'}}
<body>
  <form class="Source">
    <select class="Source__select">
      <option value="preset-girl">Preset (Girl)</option>
      <option value="preset-view">Preset (Beautiful view)</option>
      <option value="preset-abstract">Preset (Abstract CG)</option>
      <option value="camera">Camera *RECOMMENDED*</option>
      <option value="upload">Upload image</option>
    </select>
    <input type="file" class="Source__file">
  </form>
  {{include 'common/_foot.hbs'}}
</body>
</html>
{{/with}}
