<%
const configs = {
  title: 'top',
  description: 'This is top page',
  styles: ['/css/slice.css'],
  scripts: ['/js/slice.js'],
  metaImage: 'https://dummyimage.com/600x400/333/ddd.png&text=Dummy+image',
};
%>

<!DOCTYPE html>
<html lang="<%= lang %>">
<%- include('./common/_head.ejs', { ...configs }) %>
<body>
  <%- include('./common/_foot.ejs', { ...configs }) %>
</body>
</html>
